:root {
    -azul-claro: #29d1bf;
    -laranja: #ff7a59;
    -amarelo-claro: #fce4a1;
    -amarelo-medio: #ffd166;
    -azul-medio: #00A9A5;
    -beneficios: #f4f4f4;
    -caixas: #f2eee6;
    -azul-fechado: #4f9499;
    -branco:#ffff;
    -preto: #000;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    background-image: url(img/banner.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(-branco);
    padding: 15px 20px;
}

.logo img {
    height: 50px;
}

.logo-texto {
    font-size: 24px;
    font-weight: bold;
    color: var(-azul-claro);
    font-family: Arial, sans-serif;
}
nav.links ul {

    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav.links ul li a {
    text-decoration: none;
    color:var(preto);
    font-weight: bold;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user img {
    height: 40px;
}

.botao1 {
    text-decoration: none;
    background-color: var(-laranja);
    color:var(-branco);
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
}

.banner-container {
    position: relative;
    height: 90vh; 
    background-image: url('img/banner.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.banner-texto {
    position: absolute; 
    top: 50%; 
    left: 20px; 
    color: var(preto);
    max-width: 600px; 
}

.banner-texto h1 {
    font-size: 48px; 
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-texto p {
    font-size: 18px;
    margin-bottom: 20px;
}

.banner-texto .botao {
    background-color: var(-laranja);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}